@import '../../common/utils.scss';
@import '../../common/basicMixin.scss';

.passwordWrapper {
  width: 100%;
  padding: 20px;
  max-width: 540px;
  // 헤더 만큼 margin-top 추가
  margin: 60px auto 0;
  min-height: 59vh;
  .hr {
    margin: 26px 0px;
  }
  .changePasswordHeader {
    margin: 40px 0px;
    font-size: 24px;
    display: block;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }
  .changePasswordContent {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    display: block;
    box-sizing: border-box;

    .formGroup {

      .inputBox {
        text-align: start;
        margin-bottom: 1.5rem;
        .label {
          font-size: 0.85rem;
          margin-left: 3px;
          .required {
            color: red;
          }
        }
        .loginInput {
          @include form-control-default;
          margin-bottom: 8px;
        }
        ::placeholder {
          font-size: 0.85rem;
        }
      }
      .basicInput {
        @include form-control-default;
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        margin-bottom:0.5rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #4e4e4e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.15rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      .changeBtn {
        @include btn-default('primary');
        font-size: 14px;
        height: 48px;
        width: 100%;
      }
      .errorMessage {
        color: $error;
        background-color: $errorBackgroud;
        border-color: $errorBorder;
        text-align: center;
        font-size: 0.875rem;
        margin-top: 1rem;
        border: 1px solid transparent;
        border-radius: 0.15rem;
      }
    }
  }
}
