@import '../../common/utils.scss';
@import '../../common/basicMixin.scss';

.wrapper {
  margin: 0px auto;
  max-width: 1140px;

  .contentContainer {
    max-width: 1080px;
    margin-top: 50px;

    @include respond-to('small') {
      width: 100vw;
      padding: 0px 0px;
    }

    .contentImg {
      max-width: 1000px;
      margin-left: 45px;

      @include respond-to('small') {
        width: 100vw;
        padding: 0px 0px;
        margin: 0px;
      }
    }
  }
}
