@import '../../common/utils.scss';
@import '../../common/basicMixin.scss';

.wrapper {
  text-align: center;
  background-color: $primary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
