@import '../../../common/utils.scss';
@import '../../../common/basicMixin.scss';

.masterListWrapper {
  margin-top: 60px;
  margin-left: 3rem;
  margin-right: 3rem;

  .writeListButtonWrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
  }

  .listItemBlock {
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* 맨 위 포스트는 padding-top 없음 */

    &:first-child {
      padding-top: 0;
    }

    & + & {
      border-top: 1px solid lightgray;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 0;
      margin-top: 0;

      &:hover {
        color: dimgray;
      }
    }

    p {
      margin-top: 2rem;
    }
  }

  .subInfo {
    margin-top: 1rem;
    color: gray
  }
;

  /* span 사이에 가운뎃점 문자 보여 주기 */

  span + span:before {
    color: darkgray;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    content: '\B7'; /* 가운뎃점 문자 */
  }
}
