@import '../../common/utils.scss';
@import '../../common/basicMixin.scss';

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  .title {
    align-self: flex-start;
    margin: 25px 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding: 0px 20px;
    @include respond-to(not-mobile) {
      margin: 20px 40px;
      font-weight: 700;
      line-height: 24px;
    }
  }
  h1 {
    margin-top: 60px;
  }

  .container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr; //가로 전체넓이를 다 쓰도록
    grid-template-rows: auto; // 높이는 자동으로
    row-gap: 20px; // 그리드 사이 간격
    column-gap: 24px;

    @include respond-to('large') {
      grid-template-columns: repeat(4, 1fr);
    }
    @include respond-to('medium') {
      grid-template-columns: repeat(3, 1fr);
    }
    @include respond-to('small') {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include respond-to('x-small') {
      grid-template-columns: 1fr 1fr;
      column-gap: 8px;
    }
  }
}

.loading {
  text-align: center;
  img {
    width: 200px;
  }
}
.goToTop {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  svg {
    &:hover {
      cursor: pointer;
    }
  }
}

//searchBar
.searchContainer {
  display: flex;
  padding: 0 20px;
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 15px;

  @include respond-to('small') {
    flex-direction: column;
    align-items: center;
  }
  .searchBox {
    display: flex;
    width: calc(100% - 28px);
    height: 32px;
    padding: 2px 12px 8px;
    justify-content: space-between;
    max-width: 250px;
    // margin-right: 16px;
    border: none;
    @include respond-to('small') {
      width: 100%;
      max-width: 400px;
      height: 42px;
    }
    &:focus {
      border: none;
      outline: none;
    }

    .searchInput {
      width: 100%;
      padding: 12px 24px;

      background-color: transparent;
      transition: transform 250ms ease-in-out;
      font-size: 14px;
      line-height: 18px;
      border-color: $primaryLight;
      color: #575756;
      background-color: transparent;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: 95% center;
      border-radius: 50px;
      border: 1px solid #575756;
      transition: all 250ms ease-in-out;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      &:active {
        outline: none;
      }
      &:focus {
        outline: none;
      }
    }
    .searchBtn {
      :focus {
        border: none;
        outline: none;
      }
    }
  }
  .selectBox {
    width: calc(100% - 28px);
    height: 32px;
    padding: 2px 2px 8px;
    // padding: 2px 12px 8px;
    justify-content: space-between;
    max-width: 400px;
    @include respond-to('small') {
      text-align: center;
    }
    .selectBtn {
      text-align-last: center;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: rgba(0, 0, 0, 0.07);
      border-radius: 5px;
      margin-left: 10px;
      width: 40px;
      height: 28px;
      color: rgba(0, 0, 0, 0.5);
      @include respond-to('x-small') {
        text-align: center;
        width: 40px;
        font-size: 10px;
      }
    }
  }
  .checkbox {
    font-size: 10px;
    font-weight: bold;
    .checkBtn {
      text-align-last: center;
      border: none;
      vertical-align: middle;
      background-color: rgba(0, 0, 0, 0.07);
      border-radius: 5px;
      margin-left: 10px;
      width: 18px;
      height: 20px;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.5);

      @include respond-to('x-small') {
        text-align: center;
        width: 20px;
        font-size: 10px;
      }
    }
  }
}
