@import '../../common/utils.scss';
@import '../../common//basicMixin.scss';
$white: #ffffff; //변수명사용
$blue: #339af0;

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  background-color: $mainColor; // utils에서 변수명 사용
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $blue;
}