@import '../../../common/utils.scss';
@import '../../../common/basicMixin.scss';

.masterEditWrapper {
  width: 100%;
  max-width: 1140px;
  margin: 60px auto 0;

  @include respond-to('not-mobile') {
    padding: 5rem;
  }
  @include respond-to('small') {
    padding: 1rem;
  }

  .editInputBlock {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;

    .editName {
      font-weight: bold;

      @include respond-to('not-mobile') {
        font-size: 1.5rem;
      }
      @include respond-to('small') {
        font-size: 1rem;
      }
    }

    .editInput {
      font-size: 1rem;
      outline: none;
      padding-bottom: 0.5rem;
      border: none;
      margin-left: 1rem;
      border-bottom: 1px solid grey;

      @include respond-to('not-mobile') {
        width: 85%;
      }
      @include respond-to('small') {
        width: 75%;
      }
    }

    .editFile {
      font-size: 1rem;
      outline: none;
      padding-bottom: 0.5rem;
      border: none;
      margin-left: 1rem;
      @include respond-to('not-mobile') {
        width: 85%;
      }
      @include respond-to('small') {
        width: 75%;
      }
    }

    .editDatePicker {
      @include respond-to('not-mobile') {
        width: 85%;
      }
      @include respond-to('small') {
        width: 75%;
      }
      padding-bottom: 0.5rem;
      margin-left: 1rem;
      border-bottom: 1px solid grey;

      div {
        div {
          input {
            font-size: 1rem;
            outline: none;
            border: none;
          }
        }
      }
    }
  }

  .quillWrapper {

    .qlContainer {
      div {
        padding: 0;
        min-height: 320px;
        font-size: 1.125rem;
        line-height: 1.5;
      }

      .ql-editor.ql-blank::before { // 정해진 class 이므로 변경 x
        left: 0;
      }
    }

  }

  .btnWrapper {
    @include respond-to('not-mobile') {
      display: flex;
      justify-content: flex-end;
      .btn {
        @include btn-default('primary');
        width: 4rem;
        &:nth-child(2) {
          margin-left: 20px;
        }
      }
    }
    @include respond-to('small') {
      display: flex;
      justify-content: space-between;
      .btn {
        @include btn-default('primary');
        width: 48%;
      }
    }
  }
}
