@import '../../../common/utils.scss';
@import '../../../common/basicMixin.scss';

.masterEditWrapper {
  margin-top: 60px;

  .editBlock {
    /* 페이지 위아래 여백 지정 */
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .titleInput {
    font-size: 2rem;
    outline: none;
    padding-bottom: 0.5rem;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 2rem;
    width: 100%;
  }

  .etcInput {
    font-size: 1rem;
    outline: none;
    padding-bottom: 0.5rem;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 2rem;
    width: 100%;
  }

  .quillWrapper {
    .ql-editor { // 정해진 class 이므로 변경 x
      padding: 0;
      min-height: 320px;
      font-size: 1.125rem;
      line-height: 1.5;
    }

    .ql-editor.ql-blank::before { // 정해진 class 이므로 변경 x
      left: 0;
    }
  }
}
