@import './utils.scss';
@import './basicMixin.scss';


.errorWrapper {

    @include respond-to('not-mobile') {
        background: white;
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 0 16px;
        text-align: center;

      }
    
      @include respond-to('small') {
    
        min-width: 100%;
        background: white;
        margin: 0 auto;
        width: 100%;


      }
   

    .errorContainer{
        @include respond-to('not-mobile') {
            padding: 120px 0;
   
    
          }
        
          @include respond-to('small') {
            padding: 120px 0;
            text-align: center;
        
          }
        
        .errorImg{
            vertical-align: middle;
            border-style: none;
        }

        .errorMessage {
                     
            
            @include respond-to('not-mobile') {
                margin-top: 32px;
                white-space: pre;  
        
        
              }
            
              @include respond-to('small') {
 
                margin-top: 32px;          
                max-width: 100%;
                max-height: 100%;
            
              }
        }
        .RedirectBtn{
            margin-top: 32px;
           
            .LinkContainer {
              
                    @include btn-default('primary');
                
                    &:hover {
                        color: #fff;
                        background-color: #d95700;
                        border-color: #cc5200;
                    }
                
    
            }
        }
        
    }
}