/* footer 영역입니다. */
//@import '../../common/utils.scss';

$font-stack:  spoqa han sans neo,'sans-serif';
 
.footer {
  
   display: block;
  margin: 0px;
  background: #f7f7f5;
  width: 100%;
  height: 100%;
  padding: 56px 0px 52px;
  border: 0.5px dotted black;
  

      .footer_container {
      padding: 27px 20px;
      max-width: 1140px;
      margin: 0 auto;
      
      }
  
        .container_flex {
          display : flex;
        // height: 203px;
        flex-direction: column;
        max-width: 1140px;
        width: 100%;
        margin: 0px auto;
        }
  
          .container_list_top {
            height: 34px;
          font-size : 15px;
          color: #2C2C2A;
          justify-content:space-between;
         
          font-family: $font-stack;
          display: flex;
          width: 60%;
  
          }
  
            .container_list_top_menu {
              cursor: pointer;
              font-size: 13px;
              color: rgba(42,42,44,0.8);
              margin-bottom: 15px;
            }
  
                .container_list_bottom {
                  margin: 54px 0px 0px;
                // height: 115px;
                margin: 54px 0 0;
                font-family: $font-stack;
                box-sizing: border-box;
                }
  
                .container_list_bottom_comName {
                  font-weight: bold;
                  font-size : 15px;
                margin-bottom : 8px;
                color: rgba(42,42,44,0.8);
                }
  
                .container_list_bottom_comInfo {
                  font-size : 11px;
                margin : 0px 0px 10px;
                color: #6E6E6C;
                }
  
                .container_list_support {
                  display: flex;
                  justify-content: space-between;
                  width: 40%;
                  margin: 16px 0 0 0;
                }
  
                .support_list_link {
                  margin-bottom: 15px;
                  cursor: pointer;
                }
                
                .list_link_text {
                  margin-bottom: 15px;
                  cursor: pointer;
                font-size: 12px;
                color: #4E4E4C;
                
                }

};



  @media (max-width: 769px) {

    .container_list_top {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: inherit;
    }

    .container_list_support {
      display: grid;
    grid-template-columns: 1fr 1fr;
    width: inherit;
    }

  };
//-------------------------------------------

    // .container_list_top {
    //   height: 34px;
    // font-size : 15px;
    // color: #2C2C2A;
    // justify-content: space-between;
    // font-family: $font-stack;
    // display: flex;
    // width: auto;

    // }

    // .container_list_support {
    //   display: flex;
    //   justify-content: space-between;
    //   width: auto;
    //   margin: 16px 0 0 0;
    // }
 
