@import './utils.scss';
// @import './basicMixin.scss';

@media screen and (max-width: 768px) {
  header {
    display: block;

    .headerContainer {
      position: fixed;
      z-index: 1040;
      background: transparent;
      top: 0px;
      transition: top 1s ease 0s;
      border-bottom: 1px solid #e1e1e1;
      width: 100%;
      height: 61px;

      &.active {
        top: -61px;
      }

      .navContainer {
        display: flex;
        max-width: 1140px;
        margin: 0px auto;

        .logoWrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 61px;
          padding: 0px 21px;
          z-index: 1060;
          background: white;

          .menuBtn {
            cursor: pointer;
            width: 56px;
            border: 0px;
            padding: 0px 20px 0px 16px;
            margin: 0px -16px;
          }

          .logo {
            display: inline-block;
            cursor: pointer;
          }

          .mobileMyIcon {
            margin: auto 0px;
            width: 28px;
            height: 28px;
            cursor: pointer;
            border-radius: 3rem;
            border: 0.5px solid rgb(232, 232, 232);
          }
        }

        .pcMenuList {
          display: none;
          align-items: center;
          .pcMenuItem {
            // margin-right: 5px;
            .link {
              color: #212529;
              &:hover {
                color: $primary;
              }
            }
          }
        }
        .mobileWrapper {
          .menuList {
            position: absolute;
            top: -500px;
            transition: top 0.4s ease 0s;
            list-style-type: none;
            background-color: white;
            left: 0px;
            right: 0px;
            padding: 0px 16px;
            width: 100%;
            border-top: 0.5px solid rgba(0, 0, 0, 0.1);
            border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 0px;
            z-index: 1030;

            &.active {
              top: 32px;
              transition: top 0.4s ease 0s;
            }
            .link {
              color: #212529;
              &:hover {
                color: $primary;
              }
            }

            li {
              padding: 13px 0px 13px 5px;
            }

            hr {
              border: 0.5px solid rgba(0, 0, 0, 0.1);
              margin: 0px;
            }

            .dropDown {
              padding: 13px 0px 13px 5px;
              color: #212529;
              &:hover {
                color: $primary;
              }
              .link {
                color: #212529;
                &:hover {
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }
    .spacer {
      height: 61px;
    }
  }
}

@media screen and (min-width: 769px) {
  header {
    display: block;

    .headerContainer {
      background: white;
      top: 0px;
      transition: top 1s ease 0s;
      width: 100%;
      height: 61px;
      position: fixed;
      z-index: 1040;

      &.active {
        top: -61px;
      }

      .navContainer {
        display: flex;
        max-width: 1112px;
        margin: 0px auto;

        .logoWrapper {
          display: inline-block;
          width: auto;
          height: 60px;
          align-items: center;
          padding: 0px 28px;
          z-index: 1060;
          background: white;
          justify-content: space-between;

          .menuBtn {
            display: none;
          }

          .logo {
            display: flex;
            height: 100%;
            align-items: center;
            cursor: pointer;
          }

          .mobileMyIcon {
            display: none;
          }
        }

        .pcMenuList {
          position: static;
          display: flex;
          flex-direction: row;
          top: 0px;
          height: 60px;
          margin-top: 0;
          margin-bottom: 0;
          margin-left: auto;
          z-index: 1060;
          width: auto;
          border-bottom: 0px;
          border-top: none;
          transition: top 0.4s ease 0s;
          list-style-type: none;
          left: 0px;
          right: 0px;
          padding: 0px 16px;
          align-items: center;
          .pcMenuItem {
            margin-right: 15px;
            .link {
              color: #212529;
              font-size: 14px;
              display: inline-block;
              padding: 20px 8px;
              height: 100%;
              &:hover {
                color: $primary;
              }
            }
          }

          li {
            font-size: 14px;
            display: inline-block;
            padding: 20px 8px;
            height: 100%;
          }

          .pcVerIcon {
            font-size: 14px;
            position: relative;
            display: inline-block;
            padding: 14px 14px;
            height: 100%;
            cursor: pointer;

            .icon {
              cursor: pointer;
              border-radius: 3rem;
              width: 30px;
              height: 30px;
            }

            .MyPageContainer {
              display: block;
              position: absolute;
              width: 128px;
              background-color: #f7f7fa;
              border: 0.5px solid #e8e8e8;
              right: 0px;
              margin-top: 9px;
              font-size: 14px;
              font-weight: 500;
              color: #737373;
              padding: 8px 16px;

              &.active {
                display: none;
              }

              .dropDown {
                padding: 8px 0px;
                cursor: pointer;
                .link {
                  color: #212529;
                  &:hover {
                    color: $primary;
                  }
                }
              }
            }
          }

          .mobileWrapper {
            display: none;
          }
        }
      }
    }
    .spacer {
      height: 61px;
    }
  }
}
