$primary: #5d3dbf;
$primaryLight: #8762f3;
$secondary: #ffc200;
$btnBackgroud: rgb(255, 240, 204);
$error: #721c24;
$errorBackgroud: #f8d7da;
$errorBorder: #f5c6cb;

// 메인: #5D3DBF
// 버튼연한색(하트배경색) : #rgb(255, 240, 204);
// 하트 안눌렀을 때: #FFC200
// 눌렀을 때: #8762F3

$red: #fa5252;
$violet: #7950f2;
$gray: #282c34;

$pink: rgb(255, 0, 106);
$green: rgb(0, 172, 131);
$yellow: rgb(255, 196, 31);
$whiteGray: rgb(131, 131, 128);
