@import '../../common/utils.scss';
@import '../../common/basicMixin.scss';

$fontColorForTitle: rgb(255, 255, 255);

.bannerContainer {
  margin: 0 auto;
  padding: 20px 30px;
  width: 100%;
  max-width: 1140px;
  @include respond-to('small') {
    width: 100vw;
    padding: 0px 0px;
  }
  .imgBox {
    position: relative;
    width: 100%;
    min-height: 35vh;
    max-height: 300px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    @include respond-to('small') {
      max-height: 300px;
      min-height: 30vh;
    }
    //1140-310 1024-316  900 -268     900-287 768-203
    //1140-308 1100 -292 1000-263 900-230 800-202
    .img {
      vertical-align: middle;
      border-style: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.container {
  margin: 0px auto;
  padding: 2% 4%;
  width: 100%;
  max-width: 1140px;
  -webkit-box-pack: justify;
  @include respond-to('small') {
    margin-top: 25px;
  }
  .listHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px auto;
    height: 50px;
    padding: 10px 5px;

    @include respond-to('not-mobile') {
      height: 80px;
      padding: 20px 5px;
    }
    .title {
      font-weight: bold;
      font-size: 22px;
      line-height: 22px;
      @include respond-to('not-mobile') {
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
      }
    }
    .link {
      margin: 0;
      .headerBtn {
        text-decoration: none;
        font-weight: 400;
        color: black;
      }
    }
  }
  .cardContainer {
    padding: 0 3px;
    @include respond-to('not-mobile') {
      padding: 0 10px;
    }
  }
}

.cardBox {
  margin: 0 16px;
}
.arrow {
  display: block;
  background: darkgray;
  left: -3%;
}

.slider {
  .slick-list {
    z-index: 10;
  }
  .sample {
    background-color: red;
    :before {
      z-index: 20;
      color: $primary;
    }
  }
}
//이 아래는 fixedBanner 코로나 관련 사회적 거리두기 안내 배너 scss입니다..

.coronaWrapperBanner {
  display: flex;
  justify-content: center;

  .LinkBanner {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1140px;
    padding: 0px;
    .bannerContainer {
      display: flex;
      flex-direction: column;
      background: rgb(0, 172, 131);
      text-align: center;
      max-width: 1140px;
      width: 100%;
      padding: 20px 0px;
      cursor: pointer;
      border-radius: 8px;
      .bannerSubTitle {
        color: $fontColorForTitle;
        white-space: pre;
        @include respond-to('not-mobile') {
          font-size: 16px;
          line-height: 16px;
          text-align: center;
          padding-bottom: 4px;
        }

        @include respond-to('small') {
          margin: 0px 0px 6px;
          font-size: 14px;
          line-height: 14px;
          text-align: center;
        }
        .bannerSubImg {
          @include respond-to('not-mobile') {
            width: 24px;
            margin-bottom: 4px;
            vertical-align: middle;
          }

          @include respond-to('small') {
            width: 12px;
            margin-bottom: 4px;
            vertical-align: middle;
          }
        }
      }
      .bannerTitle {
        color: $fontColorForTitle;
        @include respond-to('not-mobile') {
          font-weight: bold;
          font-size: 24px;
          line-height: 24px;
          text-align: center;
        }

        @include respond-to('small') {
          font-weight: bold;
          font-size: 18px;
          line-height: 18px;
          text-align: center;
        }
      }
    }
  }
}
