@import '../../common/utils.scss';
@import '../../common/basicMixin.scss';

.loginWrapper {
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  min-height: 59vh;
  margin-top: 60px; // 헤더 만큼 margin-top 추가
  .loginContent {
    margin: 0px auto;
    max-width: 300px;
    padding: 40px 0px;
    text-align: center;
    .title {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    .socialBtn {
      width: 300px;
      height: 56px;
    }
    .googleBtn {
      @include btn-default('secondary');
      background-color: #da4453;
      border: 0px;
      font-size: 14px;
      height: 48px;
      margin-bottom: 8px;
    }
    .hr {
      margin: 26px 0px;
    }
    .loginForm {
      .inputBox {
        text-align: start;
        .label {
          font-size: 0.85rem;
          margin-left: 3px;
          .required {
            color: red;
          }
        }
        .loginInput {
          @include form-control-default;
          margin-bottom: 8px;
        }
        ::placeholder {
          font-size: 0.85rem;
        }
      }
      .loginBtn {
        @include btn-default('primary');
        font-size: 14px;
        height: 48px;
        width: 100%;
      }
      .errorMessage {
        color: $error;
        background-color: $errorBackgroud;
        border-color: $errorBorder;
        text-align: center;
        font-size: 0.875rem;
        margin-top: 1rem;
        border: 1px solid transparent;
        border-radius: 0.15rem;
      }
      .registerWrapper {
        margin: 16px 0px;
        text-align: right;
        user-select: auto;
        .registerLink {
          color: $secondary;
          text-decoration: underline;
        }
      }
      .findLink {
        color: rgb(123, 123, 123);
        font-size: 0.85rem;
        cursor: pointer;
      }
      .findInfoWrapper {
        margin: 10px;
        .findLink {
          color: rgb(123, 123, 123);
          font-size: 0.85rem;
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    .noLoginLink {
      color: rgb(123, 123, 123);
      cursor: pointer;
      font-size: 14px;
      margin-top: 8px;
      text-decoration: underline;
    }
  }
}

.modalContainer {
  .modalDescription {
    margin: 10px auto;
  }
  .modalInput {
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #4e4e4e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.15rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .errorMessage {
    color: $error;
    background-color: $errorBackgroud;
    border-color: $errorBorder;
    text-align: center;
    font-size: 0.875rem;
    margin-top: 1rem;
    border: 1px solid transparent;
  }
}

//masterLogin
