@import '../../common/utils.scss';

$font-stack:  spoqa han sans neo,'sans-serif';
$imsi-border: 1px solid #2C2C2A;

.myPage {
    position: relative; 
    margin: 0px auto;

    min-width: 100%;


    .mypage_userInfo_area {
        max-width: 1140px;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 61px auto 0px auto;
        font-family: $font-stack;
        height: 287.44px;
        position: relative;
   
        z-index: 0;
        padding: 0 16px;

        .userInfo_info {

            .userInfo_top {
                display: flex;

                .userInfo_profile {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .profile_img {
                        
                      margin: 0 auto;

                      .img_pro{
                        margin: -20px 20px 15px 0px;
                        vertical-align: middle;
                        font-size: 9em;
                        max-width: 100%;
                   
                      }

                    }

                    

                    
                    .profile_modify_btn{
              
                         padding: 0px 20px 0px 10px;

                 
                        .modify_btn {
                            font-family: spoqa han sans neo,'sans-serif';
                            font-size: 16px;
                            background: transparent;
                            border: none;
                          }
                    
                    }
                  }

                .userInfo_fast_info {
               
                   align-items:baseline;
                    height: 100%;

                    .info_1_name{
                        font-family: spoqa han sans neo,'sans-serif';
                        font-size: 1.1em;
                        font-weight: bold;
                      }
                  
                    .fast_info_bottom{
                   
                        margin: 24px 0px 0px -27px;
                  
                       display: flex;
                        justify-content: space-between;
              
                        width: 100%;
                        height: 100%;

                        .info_box{
                            padding: 0px auto;
                            display: block;
                            width: 100%;
                            align-items: center;

                            .info_box_img {
                              font-size: 26px;
                            }
                            
                          
                            .info_box_list {
                                position: relative;
                                display: flex;
                                justify-content: center;
                                height: 32px;
                                width: 100px;

                          
                                .modify_logout_btn{
                                    font-family: spoqa han sans neo,'sans-serif';
                                    font-size: 14px;
                                    background: transparent;
                                    border: none;
                                  }

                                  
                              }

                            .info_box_list_btn{
                                padding-left: 5px;                                
                                position: relative;
                                display: flex;
                                justify-content: center;
                                height: 32px;
                                width: 100px;

                                .modify_pass_btn{
                                  font-family: spoqa han sans neo,'sans-serif';
                                  font-size: 14px;
                                  background: transparent;
                                  border: none;
                                }
                                                       
                            }   
                        }
                      }
                
                }
                
             
              }
            .userInfo_bottom {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                width: 100%;

                .link_banner {
                    border: $imsi-border;
                    display: inline-block;
                    max-width: 385px;
                    max-height: 80px;
                    width: 100%;
                    height: 100%;
                    
                   
                  }

                
              }
              

        }


      }

    .mypage_record_area {
        max-width: 1140px;
        align-items: center;
        margin: 0px auto 61px auto;
        // border: $imsi-border;
        font-family: spoqa han sans neo,'sans-serif';
        padding: 0 16px;
        .record_area {
            display: flex;
            justify-content: center;
            width: 100%;

            .record_area_ul{
                /* justify-content: center; */
                margin: 0px auto;
                width: 100%;
                display: flex;
                padding-left: 0px;

                .record_area_ul_li{
                    /* display: inline-block; */
                    list-style-type: none;
                    width: 40%;

                    .record_title{
                        height: auto;
                        padding: 15px 0px 17px !important;
                        text-align: center;
                        // border: $imsi-border;
                    }
                    
                  }
            }
      
        }

        .ifNotInvlovedClub {
    
          text-align: center;
     
        }
    }
}




  //////////////////////////////////////////////////////
   //mobile.ver

   @media (max-width: 769px) {

   .myPage {
      position: relative; 
      margin: 0px auto;
      width: 100%;
      max-width: 1140px;


      .mypage_userInfo_area {
        margin-top: 48px;
        display: flex;
        justify-content: center;
        border-bottom: $imsi-border;
      }

      .img_pro {
        margin: 10px 10px 5px 0px;
        vertical-align: middle;
        font-size: auto;
        width: auto;
        height: 85px;
        display: flex;
            
  }


    .userInfo_top {
        display: flex;
        width: 100%;
        
    }

    .userInfo_bottom {
      display: flex;
      width: 100%;
      max-width: inherit;
  }

    .info_1_name{
        font-family: spoqa han sans neo,'sans-serif';
        font-size: 18px;
    }
    
    .modify_logout_btn{
      font-size: 12px;
    }

    .modify_pass_btn{
      font-size: 12px;
    }

    .fast_info_bottom {
      width: 100%;
      margin: 18px 0px 14px -10px;
}


    .info_box {
      width: 80%;
    }
   }
              
    }
                
             





  

  
  
  

  


  



 

 

  

 

  

  

  
  

  

 

  

  

  
  

  