@import '../../common/utils.scss';

$font-stack:  spoqa han sans neo,'sans-serif';
$imsi-border: 1px solid rgb(123, 123, 123);

.modifyInfo_flex {

    margin-top: 61px;
    padding-bottom: 32px;
    // border: $imsi-border;

    .modifyInfo_header {
       
        background: white;
        border-bottom: 1px solid rgb(225, 225, 225);
        border-top-color: rgb(225, 225, 225);
        border-right-color: rgb(225, 225, 225);
        border-left-color: rgb(225, 225, 225);
        // box-shadow: rgb(0, 0, 0 / 5%) 0px 3px 6px 0px inset;
        padding: 20px 0px;
        text-align: center;
        font-family: $font-stack;
        font-weight: bold;
        color: rgb(123, 123, 123);
    
        .modifyInfo_header_text {
            margin: 0 auto;
            width: 100%;
            padding: 0 16px;
            max-width: 1140px;
        }
    }

    .modifyInfo_body {
        border: $imsi-border;
        
        max-width: 500px;
        padding: 20px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        .modifyInfo_body_header {
            
            margin-right: -10px;
            font-size: 18px;
            float: right;
            display: flex;
            // border: $imsi-border;
            .modifyInfo_body_header_profile {
                border: $imsi-border;
               
            }

            .modifyInfo_body_header_account {
                border: $imsi-border;
            }
        }
            .modifyInfo_body_body {
                border: $imsi-border;

                .modify_form {
                    border: $imsi-border;
                }
            }
    }
}